<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Histologia - {{page_name}}</title>
    <meta http-equiv="Content-Language" content="pt-br" charset="utf-8">
    
    
    <!-- CSS Botstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Icones Bootstap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- CSS nosso -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Microscope_icon.png')}}" />

</head>

<body>
    <div class="container-aa">
        <div class="item-a">
            <img src="{{ url_for('static', filename='images/LogoUSP.png')}}" alt="Logo USP">
        </div>

        
        <div class="item-b">
            <div class="item-b1"><a {% if page_name == "Home" %} class="active"{% endif %} href='/'>Home</a></div>
            <div class="item-b2"><a {% if page_name == "Navegar" %} class="active"{% endif %} href='/browse'>Navegar</a></div>
            <div class="item-b3"><a {% if page_name == "Indice" %} class="active"{% endif %} href='/index/1'>Índice</a></div>
            <div class="item-b4"><a {% if page_name in ["Contribua", "Dashboard"] %} class="active"{% endif %}href='/contribute'>Contribua</a></div>
            <div class="item-b5"><a {% if page_name == "Ajuda" %} class="active"{% endif %}href='/help'>Ajuda</a></div>
        </div>
        <div class="item-c">
            <section class="flex-container flex-direction">
    
                
                    <nav class="nav flex-column indice">
                        <a class="nav-link" href="/index/principal">ÍNDICE</a>
                        <a class="nav-link" href="/index/A">A</a>
                        <a class="nav-link" href="/index/B">B</a>
                        <a class="nav-link" href="/index/C">C</a>
                        <a class="nav-link" href="/index/D">D</a>
                        <a class="nav-link" href="/index/E">E</a>
                        <a class="nav-link" href="/index/F">F</a>
                        <a class="nav-link" href="/index/G">G</a>
                        <a class="nav-link" href="/index/H">H</a>
                        <a class="nav-link" href="/index/I">I</a>
                        <a class="nav-link" href="/index/J">J</a>
                        <a class="nav-link" href="/index/K">K</a>
                        <a class="nav-link" href="/index/L">L</a>
                        <a class="nav-link" href="/index/M">M</a>
                        <a class="nav-link" href="/index/N">N</a>
                        <a class="nav-link" href="/index/O">O</a>
                        <a class="nav-link" href="/index/P">P</a>
                        <a class="nav-link" href="/index/Q">Q</a>
                        <a class="nav-link" href="/index/R">R</a>
                        <a class="nav-link" href="/index/S">S</a>
                        <a class="nav-link" href="/index/T">T</a>
                        <a class="nav-link" href="/index/U">U</a>
                        <a class="nav-link" href="/index/V">V</a>
                        <a class="nav-link" href="/index/W">W</a>
                        <a class="nav-link" href="/index/X">X</a>
                        <a class="nav-link" href="/index/Y">Y</a>
                        <a class="nav-link" href="/index/Z">Z</a>
                    </nav>

                <section class="conteudo-index">
                    <div class="title-index"> {{ page_name }} </div>
                    {%block conteudo_index %}{%endblock%}
                </section>
            
            </section>
        </div>
    </div>
    <div class="item-d">Guia Histológico {{ current_year }}  |  Versão {{ version }}</div>

<!-- JavaScript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>