<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}">
		
		<script src="{{url_for('static', filename='ZoomifyImageViewerEnterprise-min.js')}}"></script>

	</head>

	<body class="overflow-y">

		<!-- Menu Retratil --> 
		<header class="cabecalho_mainZmf flex-container">

			<input type="checkbox" name="Menu" id="check">
			<label for="check" class="icone">&#9776;<b>Menu</b></label>

			<!--Menu Principal-->
			<div class="barra" id="principal">	
				<nav>
					<a href="" class="voltar"><div class="link">Voltar</div></a>
					<a href="./"><div class="link">Página Inicial</div></a>
					<a href="./browse"><div class="link">Página Navegar</div></a>
					<a href=""><div class="link">Guia Histológico {{ current_year }}</div></a>
					<a href=""><div class="link">Informações da Lâmina<span>+</span></div></a>
				</nav>	
			</div>

			<!--Menu Informacoes da Lamina-->


		</header> 
		
		<section class="flex-container flex-direction">	
            {% block content %} {% endblock %}
        </section>

	</body>

</html>
