<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Histologia - {{page_name}}</title>
    <meta http-equiv="Content-Language" content="pt-br" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Microscope_icon.png')}}" />

</head>

<body>
    <div class="container">
        <div class="item-a">
            <img src="{{ url_for('static', filename='images/LogoUSP.png')}}" alt="Logo USP">
        </div>
        <div class="item-b">
            <div class="item-b1"><a {% if page_name == "Home" %} class="active"{% endif %} href='/'>Home</a></div>
            <div class="item-b2"><a {% if page_name == "Navegar" %} class="active"{% endif %} href='/browse'>Navegar</a></div>
            <div class="item-b3"><a {% if page_name == "Indice" %} class="active"{% endif %} href='/index/1'>Índice</a></div>
            <div class="item-b4"><a {% if page_name in ["Contribua", "Dashboard"] %} class="active"{% endif %}href='/contribute'>Contribua</a></div>
            <div class="item-b5"><a {% if page_name == "Ajuda" %} class="active"{% endif %}href='/help'>Ajuda</a></div>
        </div>
        <div class="item-c">
            <section class="flex-container flex-direction">
    
                <section class="indice">
                    <p><a href="/index/principal">ÍNDICE</a></p>
                    <ul>
                        <li>
                            <a href="/index/A">A</a>
                        </li>
                        <li>
                            <a href="/index/B">B</a>
                        </li>
                        <li>
                            <a href="/index/C">C</a>
                        </li>
                        <li>
                            <a href="/index/D">D</a>
                        </li>
                        <li>
                            <a href="/index/E">E</a>
                        </li>
                        <li>
                            <a href="/index/F">F</a>
                        </li>
                        <li>
                            <a href="/index/G">G</a>
                        </li>
                        <li>
                            <a href="/index/H">H</a>
                        </li>
                        <li>
                            <a href="/index/I">I</a>
                        </li>
                        <li>
                            <a href="/index/J">J</a>
                        </li>
                        <li>
                            <a href="/index/K">K</a>
                        </li>
                        <li>
                            <a href="/index/L">L</a>
                        </li>
                        <li>
                            <a href="/index/M">M</a>
                        </li>
                        <li>
                            <a href="/index/N">N</a>
                        </li>
                        <li>
                            <a href="/index/O">O</a>
                        </li>
                        <li>
                            <a href="/index/P">P</a>
                        </li>
                        <li>
                            <a href="/index/Q">Q</a>
                        </li>
                        <li>
                            <a href="/index/R">R</a>
                        </li>
                        <li>
                            <a href="/index/S">S</a>
                        </li>
                        <li>
                            <a href="/index/T">T</a>
                        </li>
                        <li>
                            <a href="/index/U">U</a>
                        </li>
                        <li>
                            <a href="/index/V">V</a>
                        </li>
                        <li>
                            <a href="/index/W">W</a>
                        </li>
                        <li>
                            <a href="/index/X">X</a>
                        </li>
                        <li>
                            <a href="/index/Y">Y</a>
                        </li>
                        <li>
                            <a href="/index/Z">Z</a>
                        </li>
                    </ul>
                </section>
            
                <section class="conteudo-index">
                    <div class="title-index"> {{ page_name }} </div>
                    {%block conteudo_index %}{%endblock%}
                </section>
            
            </section>
        </div>
    </div>
    <div class="item-d">Guia Histológico {{ current_year }}  |  Versão {{ version }}</div>

    
</body>