<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}">
		<script src="{{url_for('static', filename='ZoomifyImageViewerEnterprise-min.js')}}"></script>
		<!-- <style type="text/css"> #myContainer { width:100%; height:100%; margin:0; border:0px; } </style> -->
	</head>

	<body class="overflow-y">
    
		<header class="cabecalho flex-container">
            <div>botão para voltar</div>
			<div>nome da página</div>
			<div>alguma outra funcionalidade</div>
        </header>
	
		<section class="flex-container flex-direction">	
            {% block content %} {% endblock %}
        </section>

	</body>

</html>
