{% extends './parents/main-index.html' %}

{% block conteudo_index %}

<section class="flex-container flex-direction">
    <section>
        <article>
            <h1>A</h1>
            <p>palavras que iniciam com A</p>
            <h3>A célula 1</h3>
            <div class="lista-hito">
                <div class="lista-histo-item">
                    <div class="lista-histo-img">
                        <a href="">
                            Imagem
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="lista-histo-descricao">
                        <div class="lista-histo-nome">
                            <h4>Nome lâmina</h4>
                        </div>
                        <div class="lista-histo-texto">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic porro natus
                                autem alias aut corrupti inventore repellendus qui sint dicta odit praesentium
                                necessitatibus ipsum sunt eius culpa, enim asperiores!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lista-histo-item"></div>
                <div class="lista-histo-item"></div>
                <div class="lista-histo-item"></div>
                <div class="lista-histo-item"></div>
            </div>
            <h3>A célula 2</h3>
            <h3>A célula 3</h3>
            <h3>A célula 4</h3>
            <h3>A célula 5</h3>
        </article>
    </section>

{% endblock %}