{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">
<h2>Capítulo 4 - Tecido muscular</h2>
    <div class="container-fluid" style="text-align:left">
        <article>
            <h3>Tecido Muscular</h3>
            <ul>
                <li>O tecido muscular apresenta células, também chamadas de <b>fibras musculares</b>, que têm como função principal a <b>contração</b> .</li>
                <li>Essas unidades de contração formam conjuntos musculares que são classificados em três tipos de acordo com a forma de sua estrutura e o tipo de controle:</li>
                <ul>
                    <li><b>Músculo esquelético:</b> estriado (voluntário);</li>
                    <ul>
                        <li>Apresentam células longas e de formato cilíndrico</li>
                        <li>Mais de um núcleo (multinucleadas) e está localizado nas periferias</li>
                        <li>Estriadas</li>
                    </ul>

                    <li><b>Músculo cardíaco:</b> estriado (involuntário);</li>
                    <ul>
                        <li>Apresentam fibras que tem ramificações</li>
                        <li>Apresentam um ou dois núcleos;</li>
                        <li>Também possuem estrias;</li>
                        <li>Fibras de Purkinje: células musculares cardíacas específicas que transmitem impulsos elétricos (ajudam na coordenação da contração cardíaca) </li>
                    </ul>

                    <li><b>Músculo liso:</b> não estriado/liso (involuntário)</li>
                    <ul>
                        <li>Células em formato de fuso (fusiformes)</li>
                        <li>Um núcleo centralizado;</li>
                    </ul>
                </ul>
                <li>As células podem apresentar certas diferenças entre si:</li>
                <ul>
                    <li>Células esqueléticas e cardíacas apresentam <b>estrias</b> formadas pelos <b>sarcômeros</b>.</li>
                </ul>
                <li>Porém a semelhança é no modo como acontece a contração: elas dependem do movimento dos filamentos de miosina sobre os de actina.</li>
            </ul>
            
        </article>
    </div>
    
</div>

{% endblock %}