{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">
    <h2>Capítulo 7 - Pele</h2>
    <div class="container-fluid" style="text-align:left">
        <article>
            <h3>Introdução à Pele</h3>
            A pele cobre a superfície externa do corpo, sendo o seu maior órgão e constituindo cerca de 15 a 20 porcento
            da sua massa total. Juntamente com estruturas acessórias, como pelos, glândulas sudoríparas, glândulas
            sebáceas e unhas, compõem o sistema tegumentar. Desta forma, desempenha importantes funções que vão desde a
            proteção do corpo frente ao meio externo à prevenção da perda de água e auxílio na termorregulação.
            <br>
            <br>
            Nos seres humanos podem ser observados dois tipos de pele:
            <ol>
                <li>Pele grossa: recobre as regiões que sofrem maior atrito.</li>
                <li>Pele fina: recobre a maior parte do corpo.</li>
            </ol>
            <br>
            Histologicamente podem ser reconhecidas duas camadas principais que compõem a pele:
            <ol>
                <li>A epiderme é a camada mais externa que apresenta o epitélio estratificado escamoso/pavimentoso
                    queratinizado, , cuja as células mais abundantes são os queratinócitos. Podem ainda ser encontrados
                    na epiderme melanócitos, células de Langerhans e células de Merckel.
                </li>
                <li>A derme é a camada subjacente à epiderme, formada por tecido conjuntivo denso irregular com diversas
                    estruturas (vasos, folículos pilosos e glândulas).</li>
            </ol>
            <br>

            Ademais, abaixo da derme encontra-se a hipoderme, uma camada bem variável em espessura, dependendo da porção
            corporal, que é rica em tecido conjuntivo frouxo e adiposo e tem a função de unir de unir de maneira pouco
            firme a derme aos demais órgãos subjacentes.

            <h3>Pele Grossa</h3>
            A pele grossa/espessa é encontrada nas palmas das mãos e nas solas dos pés, locais sujeitos à abrasão
            considerável. Tem uma epiderme espessa (com espessura maior de 5mm) e contém glândulas sudoríparas, mas não
            tem folículos capilares e glândulas sebáceas.

            <br>
            <br>
            <h5><b>LP01: Pele grossa coxim de gato</b></h5>

            <ol type="a">
                <li>Epiderme: é formada por epitélio pavimentoso estratificado queratinizado e possui 5 estratos:

                    <ol type="i">
                        <li>Estrato basal: camada única de células germinativas, com alta atividade mitótica e que dará
                            origem aos demais estratos celulares. Formado por células que podem variar de cubóides a
                            colunares baixas e ligeiramente basofílicas, que se unem à membrana basal por meio de
                            hemidesmossomos.</li>
                        <li>Estrato espinhoso: camada em que os queratinócitos estão em formato mais achatado exibindo
                            numerosos prolongamentos citoplasmáticos (espinhos) que conferem a esse estrato seu nome,
                            estando fixadas às células adjacentes por meio de desmossomos.</li>
                        <li>Estrato granuloso: camada mais superficial da porção não queratinizada da epiderme. Os
                            queratinócitos contém numerosos grânulos basofílicos de queratohialina no citoplasma.</li>
                        <li>Estrato lúcido: apesar de não ser possível observar neste espécime, é formada por uma
                            delgada camada de células achatadas, eosinofílicas e translúcidas, cujas as organelas
                            citoplasmáticas foram previamente digeridas. </li>
                        <li>Estrato córneo: camada de espessura variável, constituída de células achatadas, anucleadas e
                            mortas com o citoplasma repleto de queratina.</li>
                    </ol>
                </li>
                <li>Derme: formada por tecido conjuntivo denso irregular que dá o suporte e nutrição à epiderme. Nela se
                    apresentam duas camadas principais:
                    <ol type="i">
                        <li>Camada papilar: é a região de tecido conjuntivo frouxo que se projeta até a epiderme, com o
                            objetivo de aumentar a superfície de contato entre as duas regiões, otimizando a difusão de
                            nutrientes e a união com a epiderme.
                        </li>
                        <li>Camada reticular: camada constituída por tecido conjuntivo denso e irregular, possuindo
                            vasos sanguíneos, linfáticos, nervos e estruturas derivadas da epiderme: glândulas sebáceas
                            e sudoríparas.</li>
                    </ol>

                </li>
                <li>Hipoderme- rica em tecido conjuntivo e adipócitos. </li>
            </ol>


            <h5><b>LP01: Pele grossa coxim de gato</b></h5>

            <ol type="a" start="4">
                <li>Epiderme: é formada por epitélio pavimentoso estratificado queratinizado e possui 5 estratos:

                    <ol type="i">
                        <li>Estrato basal: camada única de células germinativas, com alta atividade mitótica e que dará
                            origem aos demais estratos celulares. Formado por células que podem variar de cubóides a
                            colunares baixas e ligeiramente basofílicas, que se unem à membrana basal por meio de
                            hemidesmossomos.</li>
                        <li>Estrato espinhoso: camada em que os queratinócitos estão em formato mais achatado exibindo
                            numerosos prolongamentos citoplasmáticos (espinhos) que conferem a esse estrato seu nome,
                            estando fixadas às células adjacentes por meio de desmossomos.</li>
                        <li>Estrato granuloso: camada mais superficial da porção não queratinizada da epiderme. Os
                            queratinócitos contém numerosos grânulos basofílicos de queratohialina no citoplasma.</li>
                        <li>Estrato lúcido: apesar de não ser possível observar neste espécime, é formada por uma
                            delgada camada de células achatadas, eosinofílicas e translúcidas, cujas as organelas
                            citoplasmáticas foram previamente digeridas. </li>
                        <li>Estrato córneo: camada de espessura variável, constituída de células achatadas, anucleadas e
                            mortas com o citoplasma repleto de queratina.</li>
                    </ol>
                </li>
                <li>Derme: formada por tecido conjuntivo denso irregular que dá o suporte e nutrição à epiderme. Nela se
                    apresentam duas camadas principais:
                    <ol type="i" start="6">
                        <li>Camada papilar: é a região de tecido conjuntivo frouxo que se projeta até a epiderme, com o
                            objetivo de aumentar a superfície de contato entre as duas regiões, otimizando a difusão de
                            nutrientes e a união com a epiderme.
                        </li>
                        <li>Camada reticular: camada constituída por tecido conjuntivo denso e irregular, possuindo
                            vasos sanguíneos, linfáticos, nervos e estruturas derivadas da epiderme: glândulas sebáceas
                            e sudoríparas.
                            <ol>
                                <li>Capilares papilar- levam nutrientes até a derme.</li>
                            </ol>
                        </li>
                        <li>Camada reticular: rica em tecido conjuntivo denso e irregular
                            <ol>
                                Glândulas sudoríparas écrinas - glândulas de formato tubular espiralado com epitélio
                                cuboidal simples ou estratificado (levemente corado) e células ductais (coloração
                                escura).
                            </ol>
                        </li>
                    </ol>

                </li>
                <li>A hipoderme- rica em tecido conjuntivo e adipócitos.</li>
            </ol>

            - Informações técnicas <br>
            <ol>
                <li>Nome da lâmina: LP01- PELE GROSSA </li>
                <li>Tecido: Pele grossa coxim (gato):</li>
                <li>Coloração: hematoxilina e eosina: </li>
                <li>Tamanho da imagem:</li>
                <li>Tamanho em pixel:</li>
                <li>Resolução: </li>
                <li>Magnificação:</li>
                <li>Fonte: Faculdade de Odontologia de Bauru / Universidade de São Paulo- São Paulo, Brasil.</li>
            </ol>

            - Informações técnicas
            <ol>
                <li>Nome da lâmina: LP02- PELE FINA  </li>
                <li>Tecido: Pele fina coxim (gato):</li>
                <li>Coloração: hematoxilina e eosina: </li>
                <li>Tamanho da imagem:</li>
                <li>Tamanho em pixel:</li>
                <li>Resolução: </li>
                <li>Magnificação:</li>
                <li>Fonte: Faculdade de Odontologia de Bauru / Universidade de São Paulo- São Paulo, Brasil.</li>
            </ol>

            Camada papilar: é a região de tecido conjuntivo frouxo que se projeta até a epiderme, com o objetivo de
            aumentar a superfície de contato entre as duas regiões, otimizando a difusão de nutrientes e a união com a
            epiderme.
            <br><br>
            Camada reticular: camada constituída por tecido conjuntivo denso e irregular, possuindo vasos sanguíneos,
            linfáticos, nervos e estruturas derivadas da epiderme: glândulas sebáceas e sudoríparas.



        </article>
    </div>

    <div class="container">
        <div class="row">
            {% for img in imgs %}
            <div class="row text-center text-lg-start">
                <form action="{{ url_for('viewport', img_id = img.id ) }}" method="POST">

                    {{ nome_arq.csrf_token }}
                    {{ nome_arq.arq_nome(value=img.imgs_pff) }}

                    <button type="submit" class="miniatura-btn container-fluid">
                        <div class="col-lg-3 col-md-4 col-6 card " style="text-align:left">
                            <img src="{{url_for('static', filename=img.imgs_min)}}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{img.nome}}</h5>
                                <!-- <p class="card-text">{{img.tecido}}</p> -->
                                <p class="card-text"><small class="text-muted">{{img.numero_da_lamina}}<br>{{img.tecido}}</small></p>
                              </div>
                        </div>
                    </button>
                    <br>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}