{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">
    <h2>Capítulo 7 - Pele</h2>
    <div class="container-fluid" style="text-align:left">
        <article>
            <h3>Introdução à Pele</h3>
            A pele cobre a superfície externa do corpo, sendo o seu maior órgão e constituindo cerca de 15 a 20 porcento
            da sua massa total. Juntamente com estruturas acessórias, como pelos, glândulas sudoríparas, glândulas
            sebáceas e unhas, compõem o sistema tegumentar. Desta forma, desempenha importantes funções que vão desde a
            proteção do corpo frente ao meio externo à prevenção da perda de água e auxílio na termorregulação.
            <br>
            <br>
            Nos seres humanos podem ser observados dois tipos de pele:
            <ol>
                <li>Pele grossa: recobre as regiões que sofrem maior atrito.</li>
                <li>Pele fina: recobre a maior parte do corpo.</li>
            </ol>
            <br>
            Histologicamente podem ser reconhecidas duas camadas principais que compõem a pele:
            <ol>
                <li>A epiderme é a camada mais externa que apresenta o epitélio estratificado escamoso/pavimentoso
                    queratinizado, , cuja as células mais abundantes são os queratinócitos. Podem ainda ser encontrados
                    na epiderme melanócitos, células de Langerhans e células de Merckel.
                </li>
                <li>A derme é a camada subjacente à epiderme, formada por tecido conjuntivo denso irregular com diversas
                    estruturas (vasos, folículos pilosos e glândulas).</li>
            </ol>
            <br>

            Ademais, abaixo da derme encontra-se a hipoderme, uma camada bem variável em espessura, dependendo da porção
            corporal, que é rica em tecido conjuntivo frouxo e adiposo e tem a função de unir de unir de maneira pouco
            firme a derme aos demais órgãos subjacentes.
        </article>
    </div>

    <div class="container" style="text-align: left;">
        <h3>Pele Grossa</h3>
        <div class="row">
            {% for img in imgs %}
            {% if img.id == 2 %}
            <div class="row text-center text-lg-start">
                <form action="{{ url_for('viewport', img_id = img.id ) }}" method="POST">

                    {{ nome_arq.csrf_token }}
                    {{ nome_arq.arq_nome(value=img.imgs_pff) }}

                    <button type="submit" class="miniatura-btn container-fluid">
                        <div class="col-lg-3 col-md-4 col-6 card " style="text-align:left">
                            <img src="{{url_for('static', filename=img.imgs_min)}}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{img.nome}}</h5>
                                <!-- <p class="card-text">{{img.tecido}}</p> -->
                                <p class="card-text"><small
                                        class="text-muted">{{img.numero_da_lamina}}<br>{{img.tecido}}</small></p>
                            </div>
                        </div>
                    </button>
                    <br>
                </form>
            </div>
            {%endif%}
            {% endfor %}
        </div>
        <h3>Pele Fina</h3>


        <div class="row">
            {% for img in imgs %}
            {% if img.id == 1 %}
            <div class="row text-center text-lg-start">
                <form action="{{ url_for('viewport', img_id = img.id ) }}" method="POST">

                    {{ nome_arq.csrf_token }}
                    {{ nome_arq.arq_nome(value=img.imgs_pff) }}

                    <button type="submit" class="miniatura-btn container-fluid">
                        <div class="col-lg-3 col-md-4 col-6 card " style="text-align:left">
                            <img src="{{url_for('static', filename=img.imgs_min)}}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{img.nome}}</h5>
                                <!-- <p class="card-text">{{img.tecido}}</p> -->
                                <p class="card-text"><small
                                        class="text-muted">{{img.numero_da_lamina}}<br>{{img.tecido}}</small></p>
                            </div>
                        </div>
                    </button>
                    <br>
                </form>
            </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>





</div>
<br>
<br>
<br>

{% endblock %}