body{
    height: 100%;
    background-color: #d3e1ed;
    font-family: montserrat, arial, sans-serif;
    min-height: 100vh;    
    margin: auto;
}

/* p{
    margin: 0;
} */

#titulo{
    color: white;
    background-color: #64c4d2;
    
}

.cabecalho{
    display: flex;
    color: white;
    background-color: #64c4d2;
    padding: 3px;
}

.txtImg{
    border: 2px solid orange;
    display: flex;
}

.narrativa{
    
    border: 3px solid gray;
    background-color: #ededed;
    width:100%;
    height:100%;
}

article footer{
    
    color: white;
    background-color: #1094ab;
    text-align: center;
}

section #myContainer{
    
    border: 3px solid black;
}

#myContainer{
    
    width:100%;
    height:100%; 
    border:0px;
}