.overflow-y{
    font-family: montserrat, arial, sans-serif;
    margin: auto;
    background-color: #d3e1ed;
    overflow-y: hidden;
    /* height: 100%;
    background-color: #d3e1ed;
    
    min-height: 100vh;    
    
    line-height: 200%; */

    /* background-color: #ededed;
    text-align: center;
    width: 75%;
    justify-self: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.1rem;
    line-height: 200%;
     */
    }
    
    p{
        margin: auto;
    }

    #titulo{
    color: white;
    background-color: #64c4d2;    
}

.cabecalho{
    color: white;
    background-color: #64c4d2;
    padding: 3px;
    justify-content:space-between;
}


.flex-container{
    display: flex;
}

.flex-pos{
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .imagem não funciona */
.imagem{
    width:"60%";
    height:"60%";
}
.narrativa{
    
    /* border: 3px solid gray;
    background-color: #ededed;
    width:100%;
    height:100%; */
    
    background-color: #ededed;
    /* background-color: black; */
    height: 591px;
    width: 45%;
    justify-self: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.1rem;
    line-height: 150%;
    overflow-y: scroll;
    font-size: 15px;
    
    margin: 0;
    border: 0;
    padding: 0;
}

.textoNarrativa{
    margin-left: 10px;
}

.tituloTexto{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1094ab;
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.item-footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #1094ab;
    /* margin: 0; */
    /* height: 24px; */
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#myContainer{
    
    width:100%;
    height: 591px;
    border:0px;
}

/* para mudar posicoes do txt e da img */
/* .flex-direction{
    flex-direction: row-reverse;
} */