*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}
#titulo{
    color: white;
    background-color: #64c4d2;
    
}

.item-e{
    border: 2px solid orange;
    display: flex;
}

.narrativa{
    
    border: 3px solid gray;
    background-color: #ededed;
}

article footer{
    
    color: white;
    background-color: #64c4d2;
}

section #myContainer{
    
    border: 3px solid black;
}

.narrativa{
    width: 850px;
}