{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">

    <div class="conteudo">
        <header>
            <br>
            <h1>Pagina Navegar</h1>
            <br>
        </header>

        <!-- barra de busca -->
        <form method="GET" class="d-flex" role="search" id="search_bar">
            <input class="form-control me-2" type="search" placeholder="Busque ..." name="searched">

            <div style="margin-right:8px">
                <select id="filter" class="custom-select mr-sm-2" name="filtro" value="filtrar por"
                    style="width:200px;">
                    <option value="none">Filtrar por ...</option>
                    <option value="name">Nome</option>
                    <option value="nome_da_lamina">Nome da Lamina</option>
                    <option value="tecido">Tecido</option>
                    <option value="coloracao">Coloracao</option>
                    <option value="fonte">Fonte</option>
                </select>
            </div>

            <input type="submit" class="btn btn-outline-success" value="Pesquisar">
        </form>

        {% if searched != None %}
        <h3>Você procurou por: {{ searched }}</h3>
        {% endif %}
        {% if filtro != 'none' and filtro != none %}
        <h3>com o filtro: {{ filtro }}</h3>
        {% endif %}
        <br>


        <div id="container">

            <h1>{{ tipo }}</h1>

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">{{ quant }}</h1>
            <hr class="mt-2 mb-5">


            <div class="row">
                {% for img in imgs %}
                <div class="row text-center text-lg-start">
                    <form action="{{ url_for('viewport', img_id = img.id ) }}" method="POST">

                        {{ nome_arq.csrf_token }}
                        {{ nome_arq.arq_nome(value=img.imgs_pff) }}

                        <button type="submit" class="miniatura-btn container-fluid">
                            <div class="col-lg-3 col-md-4 col-6 card " style="text-align:left">
                                <img src="{{url_for('static', filename=img.imgs_min)}}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{img.nome}}</h5>
                                    <!-- <p class="card-text">{{img.tecido}}</p> -->
                                    <p class="card-text"><small class="text-muted">{{img.numero_da_lamina}}<br>{{img.tecido}}</small></p>
                                  </div>
                            </div>
                        </button>
                        <br>
                    </form>
                </div>
                {% endfor %}
            </div>




        </div>

    </div>

</div>


{% endblock %}