{% extends './parents/main.html' %}

{% block content %}

    <div class="conteudo">
        <header>
            <h1>texto e imagem</h1>
        </header>
        <section>
            <h2>mais texto e img</h2>
            <div class="flex-container flex-pos">   
                
                <div class="item">
                    <div class="miniatura">
                        <form action="" method="POST">
                            {{ imgForm.csrf_token }}
                            <button type="submit" value="Submit">
                                <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE.jpg')}}" alt="" class="imagem" width="60%" height="60%"> 
                                <!-- <input id="zImagePath" type="text" name="zImagePath" value="/static/imgsPff/L60PelefinaHE40XB.pff" hidden>  -->
                                {{ imgForm.imgUrl(value="static/imgsPff/L60PelefinaHE40XB.pff") }}
                                
                                <!-- TESTAR ENVIAR ARQUIVO XML -->

                            </button>
                        </form>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                
                <!-- 00 - CÓDIGO ABAIXO FUNCIONA -->
                <div class="item">
                    <div class="miniatura">
                        <a href="./viewport">
                            <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE.jpg')}}" alt="" class="imagem" width="60%" height="60%">  

                                                        
                            <!-- <form id="narrativeDataForm" method="post" action="./viewport">
                                <input name="zImagePath" type="hidden" value="{{url_for('static', filename='imgsPff/L60PelefinaHE40XB.pff')}}">
                             -->
                            <!-- 
                                <input id="zAnnotationPath" name="zAnnotationPath" type="hidden" value="{{url_for('static', filename='xml/L60PelefinaHE40XB-annotations.xml')}}">
                                <input id="zUserName" name="zUserName" type="hidden" value="Guest">
                                <input id="zDateTime" name="zDateTime" type="hidden" value="20220223-022400">
                            -->
                            <!-- </form> -->

                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE40XB.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>           
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/Adrenal140x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>                
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/B2GlicogenioFigadoPAS.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaBHE.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L02BTraqueiaEEsofagoHE.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L02LinguaAzulDeToluidina.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L4OvarioEUteroHE40X.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L04OvarioEUteroL1HE40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L05BTransicaoEstomagoEDuodenoDeGatoL140x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>                    
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L05TransicaoEstomagoEDuodenoL3001.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L6AParotidaHEL4.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L9GranulomaPeriapicalL3.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L11ArteriaDeGrandeCalibroL2Fucsina.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L11VasoDeGrandeCalibreVerhoff.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L12PulmaoBacoLinfonodoL2ImpregnacaoArgentica.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L14ATraqueiaEEpigloteDeCaoL1FucsinaResorcina.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L14TraqueiaEEpigloteVerhoffL2.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L18AFetoDeRatoTricromicoDeMasson40X.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div> 
                    <h2>texto</h2>
                    <h3>link</h3>                   
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L23Coracao2HE20x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L25BCerebroECerebelo.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>   
                    <h2>texto</h2>
                    <h3>link</h3>                 
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L28AVertebraL3HE.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>  
                    <h2>texto</h2>
                    <h3>link</h3>                  
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L30ATimo240X.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>    
                    <h2>texto</h2>
                    <h3>link</h3>               
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L30Baco240x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>   
                    <h2>texto</h2>
                    <h3>link</h3>                 
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L31AEstomagoBHE40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>  
                    <h2>texto</h2>
                    <h3>link</h3>                 
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L31EstomagoAHE40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>   
                    <h2>texto</h2>
                    <h3>link</h3>                
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L31TransicaoEsofagoEEstomagoAHE40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L32AIntestinoPorcao2e340x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>     
                    <h2>texto</h2>
                    <h3>link</h3>               
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L32AIntestinoPorcao140x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L32BIntestino40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L35BSubmandibularHumanaL1.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>   
                    <h2>texto</h2>
                    <h3>link</h3>                 
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L37ARimHE.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>    
                    <h2>texto</h2>
                    <h3>link</h3>                
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L37BUretraEBexigaMassonL140X.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>    
                    <h2>texto</h2>
                    <h3>link</h3>                
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L37BUretraEBexigaTricromicoDeMassomL240x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>   
                    <h2>texto</h2>
                    <h3>link</h3>                 
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L39TesticuloHEL3.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>  
                    <h2>texto</h2>
                    <h3>link</h3>                  
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L40BPancreasEmHE40x.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L52Lingua.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L55EsfregacoSanguineoL2.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L55EsfregacoSanguineoL3.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                <div class="item">
                    <div class="miniatura">
                        <a href="">
                            <img src="{{url_for('static', filename='imgsMini/L59PalatoDeGatoHeL1.jpg')}}" alt="" width="60%" height="60%">
                        </a>
                    </div>
                    <h2>texto</h2>
                    <h3>link</h3>
                </div>
                
                
            </div>
        </section>
    </div>
    <!-- <script type="text/javascript"> Z.showImage("myContainer", src="{{url_for('static', filename='Images/ZoomifyImageExample3')}}", src="zSkinPath={{url_for('static', filename='Assets/Skins/Dark')}}&zAnnotationPath={{url_for('static', filename='Assets/Annotations/Advanced-WithPOIsAndNotes')}}&zMagnifierVisible=1&zMaskVisible=1"); </script> -->
    <!-- <script type="text/javascript"> Z.showImage("myContainer", null, src="zNarrativePath={{url_for('static', filename='Assets/Narratives')}}&zFileHandlerPath={{url_for('static', filename='Assets/FileHandlers/files.php')}}&zAnnotationPath={{url_for('static', filename='Assets/Annotations/Narratives')}}&zSkinPath={{url_for('static', filename='Assets/Skins/Narratives')}}&zNarrativeImageFolderPath={{url_for('static', filename='Images/Narratives')}}&zRulerVisible=2&zRulerWidth=200&zNavigatorWidth=200&zCaptionBoxes=1&zMaskVisible=1&zMagnifierVisible=2"); </script>
    <div id="myContainer"></div> -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla pharetra diam sit amet. Volutpat maecenas volutpat blandit aliquam. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Tellus mauris a diam maecenas sed enim ut sem. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Turpis nunc eget lorem dolor sed. Vel fringilla est ullamcorper eget nulla facilisi. Id aliquet risus feugiat in ante. Amet est placerat in egestas. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.</p>
    <p>Amet est placerat in egestas erat imperdiet sed euismod nisi. Lorem sed risus ultricies tristique nulla. Vitae auctor eu augue ut lectus arcu bibendum. Nunc non blandit massa enim nec. Eget nunc lobortis mattis aliquam faucibus purus. Pharetra et ultrices neque ornare aenean euismod elementum. Diam vel quam elementum pulvinar etiam non quam lacus. Ut consequat semper viverra nam. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Arcu cursus euismod quis viverra.</p>
    <p>Lacus sed turpis tincidunt id aliquet. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Dui faucibus in ornare quam. Nisi porta lorem mollis aliquam ut porttitor leo a. Purus semper eget duis at. Vel turpis nunc eget lorem dolor sed viverra. Sed risus ultricies tristique nulla aliquet enim. Diam vel quam elementum pulvinar etiam non quam. Dignissim diam quis enim lobortis scelerisque fermentum. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Volutpat blandit aliquam etiam erat velit. Felis imperdiet proin fermentum leo vel orci. Dignissim sodales ut eu sem integer vitae justo eget. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Et pharetra pharetra massa massa ultricies mi.</p> -->
{% endblock %}