{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">
    <h2>Tecidos Fundamentais</h2>
    <br>
    <div class="container-fluid" style="text-align:left">
        <article>
            <a href="/chapters/1">Capítulo 1 - Epiteliais </a><br>
            <a href="/chapters/2">Capítulo 2 - Tecido conjuntivo</a><br>
            <a href="/chapters/3">Capítulo 3 - Tecido ósseo e cartilaginoso</a><br>
            <a href="/chapters/4">Capítulo 4 - Tecido muscular</a><br>
            <a href="/chapters/5">Capítulo 5 - Tecido Nervoso</a><br>
            <a href="/chapters/6">Capítulo 6 - Tecido sanguíneo </a><br>

        </article>
    </div>

    <br>
    <h2>Sistemas</h2>
    <br>
    <div class="container-fluid" style="text-align:left">
        <article>
            <a href="/chapters/7">Capítulo 7 - Pele</a><br>
            <a href="/chapters/8">Capítulo 8 - Sistema GI</a><br>
            <a href="/chapters/9">Capítulo 9 - Glândulas</a><br>
            <a href="/chapters/10">Capítulo 10 - Sistema imune</a><br>
            <a href="/chapters/11">Capítulo 11 - Sistema Cardiovascular</a><br>
            <a href="/chapters/12">Capítulo 12 - Sistema Respiratório</a><br>
            <a href="/chapters/13">Capítulo 13 - Sistema Genitourinário</a><br>
        </article>
    </div>





</div>

{% endblock %}