{% extends './parents/main.html' %}

{% block content %}

<div class="item-c">

    <h2>Guia Histologico</h2>

    <div class="container-fluid" style="text-align:left">
        <article>
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
        </article>
    </div>
    <br>

    <h2>Autores</h2>

    <div class="container-fluid" style="text-align:left">
        <article>
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
        </article>
    </div>
    <br>

    <h2>etec ...</h2>

    <div class="container-fluid" style="text-align:left">
        <article>
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
        </article>
    </div>
    <br>



    <h2>Termos de Uso</h2>

    <div class="container-fluid" style="text-align:left">
        <article>
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
            texto  texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            texto texto texto texto texto texto texto texto t exto texto texto texto
        </article>
    </div>
    <br>


</div>

{% endblock %}