<!-- OBSERVAÇÕES
     para esconder o painel de Labels precisa add nos respectivos arquivo.xml da img.zif isto -> PANELPOSITION="0" 
-->
{% extends './parents/mainZmf.html' %}

{% block content %}
    
    <article class="narrativa">
        <h1 class="tituloTexto">
            {{ nomeImagem }}
        </h1>
        <div class="textoNarrativa">
            {{ htmlFile|safe }}
        </div>
        <footer class="item-footer">
            Guia Histológico {{ current_year }}  |  Versão {{ version }}
        </footer>
        
    </article>
    
    <section id="myContainer"></section>

    <div style="text-align:center; padding:10px;">
        <form name="myForm" id="myForm">
            <input type="button" name="saveView" id="saveView" value="Save View To File" onmousedown="Z.Viewport.saveAnnotationsToImageFile(false, false)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(false, false)" />
            <input type="button" name="showView" id="showView" value="Show View In Browser" onmousedown="Z.Viewport.saveAnnotationsToImageFile(false, true)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(false, true)" />
            <input type="button" name="saveViewLocal" id="saveViewLocal" value="Save View Local" onmousedown="Z.Viewport.saveAnnotationsToImageFile(false, false, true)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(false, false, true)" />
            <input type="button" name="saveAll" id="saveAll" value="Save All To File" onmousedown="Z.Viewport.saveAnnotationsToImageFile(true, false)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(true, false)" />
            <input type="button" name="showAll" id="showAll" value="Show All In Browser" onmousedown="Z.Viewport.saveAnnotationsToImageFile(true, true)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(true, true)" />
            <input type="button" name="saveAllLocal" id="saveAllLocal" value="Save All Local" onmousedown="Z.Viewport.saveAnnotationsToImageFile(true, false, true)" ontouchstart="Z.Viewport.saveAnnotationsToImageFile(true, false, true)" />
        </form>
    </div>
   
    <!-- CONFIGURAÇÃO ZOOMIFY -->
    <script type="text/javascript"> 
        Z.showImage("myContainer", 

            //IMAGEM
            src="{{url_for('static', filename=imageFile)}}",

            //LABELS E FUNCIONALIDADES
            src="zAnnotationPath={{url_for('static', filename=xmlFile)}}&" + 
            "zSkinPath={{url_for('static', filename='Assets/Skins/Default')}}&" +
            "zMarkupMode=1&zAnnotationPath=Assets/Annotations/SaveToFile&zFileHandlerPath=Assets/FileHandlers/files.php&zSaveImageFilename=../../mySavedFile.jpg&zAnnotationsAutoSave=0"+

            
            //"zLogoVisible=0" + //esta funcionalidade esconde o logo, mas da conflito com outras funcoes, como zToolbarVisible
            //"zMaskVisible=1&" + //funciona somente com a label, no texto funciona so o perimetro nao deixando cinza outras areas
            
            //"zRulerVisible=2&" //refere-se a cx de medida abaixo do painel miniFoto, ver 26-Ruler.htm - usar com zUnits e zUnitsPerImage
            //"zRulerWidth=200&" + //acredito que seja a largura da cx de medida acima
            //"zNavigatorWidth=200&" + //largura do painel miniFoto
            //"zCaptionBoxes=0&" + //ainda nao entendi o q faz, acho que precisa de outra funcao para trabalharem juntos
            //"zMagnifierVisible=2" + //painel direito inferior de zoom automatico com ponta da seta do mouse
            // "zLogoCustomPath=Assets/LogoCustom/uspLogo3a24x24.png" //nao funcionou
            
            "zToolbarVisible=1"
            ); 
    </script>
{% endblock %}