<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<style> html, body { height: 100%; width: 100%; margin: 0; overflow: hidden; background-color:#666666; } </style>
		<style> #myContainer { width:100%; height:100%; margin:0; border:0; } </style>
        <script type="text/javascript" src="{{url_for('static', filename='./zoomify/ZoomifyImageViewerEnterprise-src.js')}}"></script>
		<script type="text/javascript"> Z.showImage(
		    "myContainer",
            null,
            src="zDebug=2&" +
            "zNarrativePath={{url_for('static', filename='./zoomify/Assets/Narratives/Narrative1.htm')}}&" +
            "zFileHandlerPath={{url_for('static', filename='./zoomify/Assets/FileHandlers/files.php')}}&" +
            "zNarrativeImageFolderPath={{url_for('static', filename='./zoomify/TestImages/Narratives/')}}&" +
            "zAnnotationPath={{url_for('static', filename='./zoomify/Assets/Annotations/Narratives/ZoomifyImageExample1-annotations')}}&" +
            "zSkinPath={{url_for('static', filename='./zoomify/Assets/Skins/Narratives')}}&" +
            "zRulerVisible=2&" +
			"zRulerWidth=200&" +
            "zNavigatorWidth=200&" +
            "zVirtualPointerVisible=1&" +
            "zCaptionBoxes=1&" +
            "zMaskVisible=1&" +
            "zHelpWidth=550&" +
            "zHelpHeight=500&" +
            "zUserLogin=1&" +
            "zUserPath={{url_for('static', filename='./zoomify/Assets/Users/users.xml')}}&" +
            "zUserPanelVisible=1&" +
            "zMagnifierVisible=2"); </script>
        <title></title>

    </head>
	<body>

		<div id="myContainer"></div>

	</body>
	</html>

